body {
  background-color: #f2f8fc;
}

/* navbar */
.navbar-custom {
  background: linear-gradient(to right, #e0f0ff, #cce5ff);
  border-radius: 0 0 16px 16px;
  padding: 1rem 0;
}

.custom-link {
  color: #003366;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.custom-link:hover {
  background-color: #d0e9ff;
  color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 86, 179, 0.2);
  text-decoration: none;
}

.custom-link-active {
  background-color: #0d6efd;
  color: white;
  font-weight: 700;
  box-shadow: 0 4px 12px rgba(13, 110, 253, 0.3);
}

/* homepage */

.homepage-header {
  min-height: 100vh;
  padding: 2rem;
  background: linear-gradient(to bottom, #f2f8fc, #e9f3fb);
}

/* about us */

.aboutus-section {
  min-height: 100vh;
  padding: 2rem;
  background: linear-gradient(to bottom, #f2f8fc, #e9f3fb);
}